body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --main-green: #104736;
  --main-yellow: #d69953;
  --main-font: "Montserrat", sans-serif;
  --highlight-font: 'MonFnt11', sans-serif;
  --main-box-shadow: 0 0 10px -3px;
  --blue-500: #1B1C30; /* Change main blue */
  --primary-color: var(--blue-500); /* Set it as the primary color */
  --red-500: #d9703f; /* Change main red */
  --font-family: 'MonFnt11', sans-serif; /* Custom font */
}

.customCalendar .ant-picker-calendar-date-content {
  
  margin: 0px -12px; /* Custom margin */
  
}