@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --main-green: #104736;
  --main-yellow: #d69953;
  --main-font: "Montserrat", sans-serif;
  --highlight-font: 'MonFnt11', sans-serif;
  --main-box-shadow: 0 0 10px -3px;
  --blue-500: #1B1C30; /* Change main blue */
  --primary-color: var(--blue-500); /* Set it as the primary color */
  --red-500: #d9703f; /* Change main red */
  --font-family: 'MonFnt11', sans-serif; /* Custom font */
}